.about {
    padding: 200px 0 100px;

    @media screen and (max-width: 992px) {
        padding: 100px 0 60px;
     }
  
     @media screen and (max-width: 576px) {
        padding: 100px 0 50px;
     }

    &__body {
        margin-top: 80px;
    }
    @media screen and (max-width: 768px) {
        margin-top: 40px;
     }

     @media screen and (max-width: 576px) {
        margin-top: 30px;
     }

    &__items-wrapper{
        display: flex;
        justify-content: flex-end;
        margin-top: 80px;

       
        
        
    }
    @media screen and (max-width: 1100px) {
        justify-content: center;
     }

     @media screen and (max-width: 992px) {
        margin-top: 60px;
     }
     @media screen and (max-width: 768px) {
     }

     @media screen and (max-width: 576px) {
        margin-top: 50px;
     }

    &__subtitle {
        font-size: 18px;
        line-height: 25.2px;
        max-width: 420px;

        @media screen and (max-width: 576px) {
            font-size: 15px;
            line-height: 21px;
            max-width: 300px;
         }

    }

    &__subtitle-brend {
        color: #D0D0D0;
    }

    &__items {
        display: flex;
        justify-content: flex-start;
         max-width: 1055px;
         width: 100%;
         flex-wrap: wrap;
         column-gap: 54px;

         background: url(../img/background-blue.png) no-repeat, 
         url(../img/background-green.png)  no-repeat; 
         background-origin: border-box;
         background-position: top left, right bottom;
         background-size:540px, 540px;

        
        


         @media screen and (max-width: 1100px) {
            justify-content: center;
            max-width: 900px;
         }

         @media screen and (max-width: 992px) {
            justify-content: flex-start;
            column-gap: 25px;
            max-width: 780px;
         }
         @media screen and (max-width: 775px) {
            column-gap: 14px;
         }
         @media screen and (max-width: 763px) {
            justify-content: center;
          
         }
            
       
    }
   
    &__item {
       min-height: 400px;
       width: 100%;
       max-width: 315px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       border: 1px solid $grey;
       border-radius: 2px;
       padding: 40px 20px 50px;
       margin-bottom: 60px;
       

       @media screen and (max-width: 992px) {
        max-width: 360px;
        min-height: 252px;
        margin-bottom: 32px;
        padding: 32px;
     }

     @media screen and (max-width: 576px) {
        max-width: 300px;
        min-height: 205px;
        margin-bottom: 15px;
        padding: 15px 10px;
     }

       &:nth-child(3) {
        padding-bottom: 75px;

      }

       &:nth-child(even) {
           border-left: none;
           border-right: none;

      }

    }
   
    &__text-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33.6px;
        color: $light-blue;
        margin-bottom: 20px;

        @media screen and (max-width: 576px) {
            font-size: 22px;
            line-height: 30.8px;
           
         }
       
    }

    &__text {
        font-size: 18px;
        line-height: 25.2px;

        @media screen and (max-width: 576px) {
            font-size: 15px;
            line-height: 21px;
           
         }
           
    }
}

